.featured{
    position: relative;
    height: 40.25vw;
    width: 100%;
    
    background-position: top;
}

.featured::before{
    background: linear-gradient(to top,var(--bgcl),transparent);
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
}

.featured .portada{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.featured .poster{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.info{
    width: 36%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 4%;
    bottom: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info img{
    max-height: 120px;
}

.info .desc{
    margin: 20px 0;
    font-size: 1.2vw;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.info .buttons{
    display: flex;
}

.buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding: 8px 26px ;
    border: none;
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
}
.buttons button:hover{
    background: rgba(255, 255, 255, 0.75);
}
.buttons button:nth-child(2){
    background-color: rgba(109, 109, 110, 0.7);
    color: var(--white);
}
.buttons button:nth-child(2):hover{
    background: rgba(109, 109, 110, 0.4);
}

.buttons button span{
    font-size: 1.1rem;
    font-weight: 500;
}
.buttons button img{
    height: 26px;
    width: 26px;
    margin-right: 10px;
}

.featured .category{
    position: absolute;
    top: 80px;
    left: 4%;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.featured .category select{
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid white;
    margin-left: 20px;
    padding: 5px;
}